<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960536701971-d8si192pjsucsdc4s38htmtesaohc187.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960536701971-d8si192pjsucsdc4s38htmtesaohc187</string>
	<key>API_KEY</key>
	<string>AIzaSyCPmTclFgkja0Bv3D44tUDXxLu0Hyuwi1s</string>
	<key>GCM_SENDER_ID</key>
	<string>960536701971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-d6bc4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-d6bc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960536701971:ios:df22ebedafef81e5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-app-d6bc4.firebaseio.com</string>
</dict>
</plist>